In [287]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [288]:
df = pd.read_csv('Heart Attack.csv')
df

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,class
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative
...,...,...,...,...,...,...,...,...,...
1314,44,1,94,122,67,204.0,1.63,0.006,negative
1315,66,1,84,125,55,149.0,1.33,0.172,positive
1316,45,1,85,168,104,96.0,1.24,4.250,positive
1317,54,1,58,117,68,443.0,5.80,0.359,positive
1318,51,1,94,157,79,134.0,50.89,1.770,positive

In [289]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            1319 non-null   int64
 1   gender         1319 non-null   int64
 2   impluse        1319 non-null   int64
 3   pressurehight  1319 non-null   int64
 4   pressurelow    1319 non-null   int64
 5   glucose        1319 non-null   float64
 6   kcm            1319 non-null   float64
 7   troponin       1319 non-null   float64
 8   class          1319 non-null   object
dtypes: float64(3), int64(5), object(1)
memory usage: 92.9+ KB

In [290]:
# Memisahkan atribut prediktor (X) dan atribut target (y)
X = df.drop('class', axis=1)
y = df['class'].map({'negative': 0, 'positive': 1})

In [291]:
# Memisahkan data menjadi data pelatihan dan data pengujian
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [292]:
# Transformasi menggunakan StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [293]:
# Membuat model Random Forest dengan hyperparameter 
rf_model = RandomForestClassifier(max_depth=None, 
                                  min_samples_leaf=4, 
                                  min_samples_split=10, 
                                  n_estimators=50,
                                  random_state=42)

# Melatih model
rf_model.fit(X_train, y_train)

# Memprediksi nilai target pada data pelatihan dan data pengujian
y_train_pred = rf_model.predict(X_train)
y_test_pred = rf_model.predict(X_test)

In [294]:
# Evaluasi performa model pada data pelatihan
accuracy_train = accuracy_score(y_train, y_train_pred)

# Menampilkan hasil evaluasi pada data pelatihan
print("Evaluasi pada Data Pelatihan:")
print(f'Accuracy: {accuracy_train}')

Evaluasi pada Data Pelatihan:
Accuracy: 0.9924170616113744

In [295]:
# Evaluasi performa model pada data pengujian
accuracy_test = accuracy_score(y_test, y_test_pred)

# Menampilkan hasil evaluasi pada data pengujian
print("\nEvaluasi pada Data Pengujian:")
print(f'Accuracy: {accuracy_test}')

Evaluasi pada Data Pengujian:
Accuracy: 0.9848484848484849